<html>
<head>
    <title>Api</title>
</head>

<body style="background-image: url(https://www.reallusion.com/ContentStore/CTA/Pack/G3-Animation-Suite-Weather-Maker/images/sunny.jpg);">
<br>
<h1 style="text-align: center; font-size: 300%; font-family: Trebuchet MS;">The Weather today!</h1>
<form action="#", method="post", style="text-align: center;">
    <div>
        <label>Choose city</label>
    </div>
    <div>
    <input type="text", name="location">
    </div>
    <button>Submit</button>
</form>

</body>

</html>